
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Meta tags -->
	<title>summarisation</title>
	<meta name="keywords" content="Winter Login Form Responsive widget, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- stylesheets -->
	<link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!-- google fonts  -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700" rel="stylesheet">
</head>
<body>
	<div class="agile-login">
		<h1>SUMMARIZATION</h1>
		<div class="wrapper">
			<div class="w3ls-form">
				<form  method="post">
					<input type="text" name="user_input" placeholder="Enter text" required/>
					<input type="submit" value="submit" >
				</form>
				<h2>RESULT</h2>
					<p class="op">{{ result }}</p>
			</div>
			
			<div class="agile-icons">
				<a href="#"><span class="fa fa-twitter" aria-hidden="true"></span></a>
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-pinterest-p"></span></a>
                <a href="#"><span class="fa fa-instagram"></span></a>
			</div>
		</div>
		<br>
		<div class="copyright">
	</div>
	</div>
	
</body>
</html>